<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Congratulations! You have completed all of your Todo's!!! Enter a new todo below to start a new Todo List.</h1>
    <img id='victoryImage' src="/images/victory.jpg" alt="victoryimage"> 
   <!-- <a href="/todos"> New Todo List</a> -->
   <form action="/todos/createTodo" method='POST'>
    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
    <input type="submit">
</form>
</body>
</html>